:root {
  --font-size: 16px;
  // button
  --button-height: 32px;
  --button-radius: 4px;
  --button-bg: #fff;
  --button-color: #333;
  --button-border-color: #ccc;
  // button-focus
  --button-bg-focus: #ccc;
  --button-border-color-focus: #333;
  // button-hover
  --button-border-color-hover: #333;
}
